* {
    padding: 1em;
    box-sizing: border-box;
    }

.frame  {
    display: flex;
    flex-direction: column;
    background-color: paleturquoise;
    padding: 1em;
    width: fit-content;
}
.display.answer {
        display: flex;
        margin-bottom: 10px;
        justify-content: flex-end;
        padding: 0em;
}

.display {
    background-color: black;
    color: aliceblue;
    text-align: right;
}

.display.vcenter {
    height: 3.5em;
    font-weight: bold;
    font-size: large;
}

#equation {
    height: 1em;
    color: lightgray;
}

.buttonRow {
    padding: 0em;
}

.numBtn, .otherBtn {
    border: 1px solid green;
    background-color: mediumaquamarine;
    color: darkslateblue;
    height: 3em;
    width: 3em;
    margin: 0.2em;
    padding: 0em;
}

#n0, #clear {
    width: 6.4em;
}

.disabled {
    border: 0px solid rgb(104, 109, 104, 0.5);
    background-color: rgba(166, 177, 172, 0.5);
    color: rgba(74, 72, 80, 0.5);
}