* {
    border: 1px solid green;
    padding: 1em;
    box-sizing: border-box;

    }

.frame  {
    display: flex;
    flex-direction: column;
    background-color: paleturquoise;
    padding: 1em;
    width: fit-content;
}
.display.answer {
        display: flex;
        margin-bottom: 10px;
        justify-content: flex-end;
        padding: 0em;
}

.display {
    background-color: black;
    color: aliceblue;
    text-align: right;
}

#equation {
    height: 1em;
}

#answer {
    height: 3em;
}

.buttonRow {
    padding: 0em;
}

.numBtn, .otherBtn {
    background-color: mediumaquamarine;
    color: darkslateblue;
    height: 3em;
    width: 3em;
    margin: 0.2em;
    padding: 0em;
}

#n0, #clear {
    width: 6.4em;
}